.icon {
  background-image: url('sprite.png');
}
.icon-colour_composite_0051-min {
  background-position: -0px -0px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0001-min {
  background-position: -0px -680px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0003-min {
  background-position: -0px -1360px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0004-min {
  background-position: -0px -2040px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0005-min {
  background-position: -0px -2720px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0006-min {
  background-position: -0px -3400px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0007-min {
  background-position: -0px -4080px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0008-min {
  background-position: -0px -4760px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0009-min {
  background-position: -0px -5440px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0010-min {
  background-position: -0px -6120px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0011-min {
  background-position: -0px -6800px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0012-min {
  background-position: -0px -7480px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0013-min {
  background-position: -0px -8160px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0014-min {
  background-position: -0px -8840px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0015-min {
  background-position: -0px -9520px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0016-min {
  background-position: -0px -10200px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0017-min {
  background-position: -0px -10880px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0018-min {
  background-position: -0px -11560px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0019-min {
  background-position: -0px -12240px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0020-min {
  background-position: -0px -12920px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0021-min {
  background-position: -0px -13600px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0022-min {
  background-position: -0px -14280px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0023-min {
  background-position: -0px -14960px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0024-min {
  background-position: -0px -15640px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0025-min {
  background-position: -0px -16320px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0026-min {
  background-position: -0px -17000px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0027-min {
  background-position: -0px -17680px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0028-min {
  background-position: -0px -18360px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0029-min {
  background-position: -0px -19040px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0030-min {
  background-position: -0px -19720px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0031-min {
  background-position: -0px -20400px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0032-min {
  background-position: -0px -21080px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0033-min {
  background-position: -0px -21760px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0034-min {
  background-position: -0px -22440px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0035-min {
  background-position: -0px -23120px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0036-min {
  background-position: -0px -23800px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0037-min {
  background-position: -0px -24480px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0038-min {
  background-position: -0px -25160px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0039-min {
  background-position: -0px -25840px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0040-min {
  background-position: -0px -26520px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0041-min {
  background-position: -0px -27200px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0042-min {
  background-position: -0px -27880px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0043-min {
  background-position: -0px -28560px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0044-min {
  background-position: -0px -29240px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0045-min {
  background-position: -0px -29920px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0046-min {
  background-position: -0px -30600px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0047-min {
  background-position: -0px -31280px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0048-min {
  background-position: -0px -31960px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0049-min {
  background-position: -0px -32640px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0050-min {
  background-position: -0px -33320px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0002-min {
  background-position: -0px -34000px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0052-min {
  background-position: -0px -34680px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0053-min {
  background-position: -0px -35360px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0054-min {
  background-position: -0px -36040px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0055-min {
  background-position: -0px -36720px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0056-min {
  background-position: -0px -37400px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0057-min {
  background-position: -0px -38080px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0058-min {
  background-position: -0px -38760px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0059-min {
  background-position: -0px -39440px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0060-min {
  background-position: -0px -40120px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0061-min {
  background-position: -0px -40800px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0062-min {
  background-position: -0px -41480px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0063-min {
  background-position: -0px -42160px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0064-min {
  background-position: -0px -42840px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0065-min {
  background-position: -0px -43520px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0066-min {
  background-position: -0px -44200px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0067-min {
  background-position: -0px -44880px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0068-min {
  background-position: -0px -45560px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0069-min {
  background-position: -0px -46240px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0070-min {
  background-position: -0px -46920px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0071-min {
  background-position: -0px -47600px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0072-min {
  background-position: -0px -48280px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0073-min {
  background-position: -0px -48960px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0074-min {
  background-position: -0px -49640px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0075-min {
  background-position: -0px -50320px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0076-min {
  background-position: -0px -51000px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0077-min {
  background-position: -0px -51680px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0078-min {
  background-position: -0px -52360px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0079-min {
  background-position: -0px -53040px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0080-min {
  background-position: -0px -53720px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0081-min {
  background-position: -0px -54400px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0082-min {
  background-position: -0px -55080px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0083-min {
  background-position: -0px -55760px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0084-min {
  background-position: -0px -56440px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0085-min {
  background-position: -0px -57120px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0086-min {
  background-position: -0px -57800px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0087-min {
  background-position: -0px -58480px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0088-min {
  background-position: -0px -59160px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0089-min {
  background-position: -0px -59840px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0090-min {
  background-position: -0px -60520px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0091-min {
  background-position: -0px -61200px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0092-min {
  background-position: -0px -61880px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0093-min {
  background-position: -0px -62560px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0094-min {
  background-position: -0px -63240px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0095-min {
  background-position: -0px -63920px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0096-min {
  background-position: -0px -64600px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0097-min {
  background-position: -0px -65280px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0098-min {
  background-position: -0px -65960px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0099-min {
  background-position: -0px -66640px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0100-min {
  background-position: -0px -67320px;
  width: 488px;
  height: 680px;
}
.icon-colour_composite_0101-min {
  background-position: -0px -68000px;
  width: 488px;
  height: 680px;
}